<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532192140200-bimda0m9iq2f13talhkbd7d404c0hglu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532192140200-bimda0m9iq2f13talhkbd7d404c0hglu</string>
	<key>API_KEY</key>
	<string>AIzaSyC6wQhewbVzLVZ3eFcl8UvYWPXEjIsMA4I</string>
	<key>GCM_SENDER_ID</key>
	<string>532192140200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolwale</string>
	<key>PROJECT_ID</key>
	<string>schoolwale-application</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolwale-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532192140200:ios:5e84ec7f7b675c84e35b9d</string>
</dict>
</plist>